body {
    text-align: center;
    background:blue;
    color: #fff;
    margin:0px;
}  

.container {
    margin: auto;
    
}

.top-bar {
    width: 25%;
    height:780px;
    float: left;
    background: #1c262f;
    
}
.display {
    margin:auto;
}
.title{
    height: 50px;
    background: #1c262f;
    margin-bottom: 50px;
    border-bottom: 1px solid #1c262f;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.5);
    align-items: center;
    

}

h1 {
    font-family: Monoton;
    font-size: 65px;
    margin: 0.2em;
    margin-top: 90px;
}

h2 {
    margin: 1em 0 0.25em;
    padding: 10px 0px 0px 0px;
}

h2:first-of-type {
    margin-top: 0.1em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 5em;
}
input[type=submit] {
  background-color: #ff4040;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  width: 120px;
  height: 30px;
  margin: 10px 8px;
  padding: 5px 5px;
  box-shadow: 3px 3px #e6e6fa;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cc3333;
  box-shadow: none;
}

input[type=color] {
  border-radius: 2px;
  width: 10%;
}
